@import url(./css/header.css);
@import url(./css/banner.css);
:root{
    --cor-de-fundo: #ebceee;
    --branco: hsl(0, 0%, 100%);
    --laranja: #EB9b00;
    --degrade:linear-gradient(90deg, rgba(2,0,36,1) 34%, rgba(0,212,255,1) 65%);
    --fonte-principal:"Poppins";
}
body {
    background-color: var(--cor-de-fundo);
font-family: var(--fonte-principal);
font-size: 16px;
font-weight: 400;
}
